In [ ]:
import pandas as pd
import time

csv_path = r"C:\Users\juanc\Documents\Ausbildung_Informatik\Quantencomputing\flights.csv"

# CSV einlesen
df = pd.read_csv(
    csv_path,
    dtype={'ORIGIN_AIRPORT': str, 'DESTINATION_AIRPORT': str},
    low_memory=False
)

end = time.time()
print(f"Benötigte Zeit für das Sortieren: {end - start:.4f} Sekunden")

Benötigte Zeit für das Sortieren: 9.4737 Sekunden
      YEAR  MONTH  DAY  DAY_OF_WEEK AIRLINE  FLIGHT_NUMBER TAIL_NUMBER  \
2440  2015      1    1            4      AA              1      N787AA
2441  2015      1    1            4      AA              2      N795AA
5663  2015      1    1            4      AA              3      N798AA
5521  2015      1    1            4      AA              4      N799AA
6205  2015      1    1            4      AA              5      N376AA

     ORIGIN_AIRPORT DESTINATION_AIRPORT  SCHEDULED_DEPARTURE  ...  \
2440            JFK                 LAX                  900  ...
2441            LAX                 JFK                  900  ...
5663            JFK                 LAX                 1230  ...
5521            LAX                 JFK                 1220  ...
6205            DFW                 HNL                 1305  ...

      ARRIVAL_TIME  ARRIVAL_DELAY  DIVERTED  CANCELLED  CANCELLATION_REASON  \
2440        1237.0            7.0         0          0                  NaN
2441        1651.0          -44.0         0          0                  NaN
5663        1548.0           -2.0         0          0                  NaN
5521        2033.0          -17.0         0          0                  NaN
6205        2240.0          300.0         0          0                  NaN

      AIR_SYSTEM_DELAY  SECURITY_DELAY  AIRLINE_DELAY  LATE_AIRCRAFT_DELAY  \
2440               NaN             NaN            NaN                  NaN
2441               NaN             NaN            NaN                  NaN
5663               NaN             NaN            NaN                  NaN
5521               NaN             NaN            NaN                  NaN
6205              11.0             0.0          197.0                 92.0

      WEATHER_DELAY
2440            NaN
2441            NaN
5663            NaN
5521            NaN
6205            0.0

[5 rows x 31 columns]

In [91]:
# Sortieren nach allen Spalten und Zeitmessung
start = time.time()

df_sorted = df.sort_values(by=list(df.columns), kind="quicksort")

end = time.time()
print(f"Benötigte Zeit für das Sortieren: {end - start:.4f} Sekunden")

# Optional: Die ersten Zeilen des sortierten DataFrames anzeigen
print(df_sorted.head())

Benötigte Zeit für das Sortieren: 10.4088 Sekunden
      YEAR  MONTH  DAY  DAY_OF_WEEK AIRLINE  FLIGHT_NUMBER TAIL_NUMBER  \
2440  2015      1    1            4      AA              1      N787AA
2441  2015      1    1            4      AA              2      N795AA
5663  2015      1    1            4      AA              3      N798AA
5521  2015      1    1            4      AA              4      N799AA
6205  2015      1    1            4      AA              5      N376AA

     ORIGIN_AIRPORT DESTINATION_AIRPORT  SCHEDULED_DEPARTURE  ...  \
2440            JFK                 LAX                  900  ...
2441            LAX                 JFK                  900  ...
5663            JFK                 LAX                 1230  ...
5521            LAX                 JFK                 1220  ...
6205            DFW                 HNL                 1305  ...

      ARRIVAL_TIME  ARRIVAL_DELAY  DIVERTED  CANCELLED  CANCELLATION_REASON  \
2440        1237.0            7.0         0          0                  NaN
2441        1651.0          -44.0         0          0                  NaN
5663        1548.0           -2.0         0          0                  NaN
5521        2033.0          -17.0         0          0                  NaN
6205        2240.0          300.0         0          0                  NaN

      AIR_SYSTEM_DELAY  SECURITY_DELAY  AIRLINE_DELAY  LATE_AIRCRAFT_DELAY  \
2440               NaN             NaN            NaN                  NaN
2441               NaN             NaN            NaN                  NaN
5663               NaN             NaN            NaN                  NaN
5521               NaN             NaN            NaN                  NaN
6205              11.0             0.0          197.0                 92.0

      WEATHER_DELAY
2440            NaN
2441            NaN
5663            NaN
5521            NaN
6205            0.0

[5 rows x 31 columns]

In [90]:
# Sortieren nach allen Spalten und Zeitmessung
start = time.time()

df_sorted = df.sort_values(by=list(df.columns), kind="mergesort")

end = time.time()
print(f"Benötigte Zeit für das Sortieren: {end - start:.4f} Sekunden")

# Optional: Die ersten Zeilen des sortierten DataFrames anzeigen
print(df_sorted.head())

Benötigte Zeit für das Sortieren: 10.2595 Sekunden
      YEAR  MONTH  DAY  DAY_OF_WEEK AIRLINE  FLIGHT_NUMBER TAIL_NUMBER  \
2440  2015      1    1            4      AA              1      N787AA
2441  2015      1    1            4      AA              2      N795AA
5663  2015      1    1            4      AA              3      N798AA
5521  2015      1    1            4      AA              4      N799AA
6205  2015      1    1            4      AA              5      N376AA

     ORIGIN_AIRPORT DESTINATION_AIRPORT  SCHEDULED_DEPARTURE  ...  \
2440            JFK                 LAX                  900  ...
2441            LAX                 JFK                  900  ...
5663            JFK                 LAX                 1230  ...
5521            LAX                 JFK                 1220  ...
6205            DFW                 HNL                 1305  ...

      ARRIVAL_TIME  ARRIVAL_DELAY  DIVERTED  CANCELLED  CANCELLATION_REASON  \
2440        1237.0            7.0         0          0                  NaN
2441        1651.0          -44.0         0          0                  NaN
5663        1548.0           -2.0         0          0                  NaN
5521        2033.0          -17.0         0          0                  NaN
6205        2240.0          300.0         0          0                  NaN

      AIR_SYSTEM_DELAY  SECURITY_DELAY  AIRLINE_DELAY  LATE_AIRCRAFT_DELAY  \
2440               NaN             NaN            NaN                  NaN
2441               NaN             NaN            NaN                  NaN
5663               NaN             NaN            NaN                  NaN
5521               NaN             NaN            NaN                  NaN
6205              11.0             0.0          197.0                 92.0

      WEATHER_DELAY
2440            NaN
2441            NaN
5663            NaN
5521            NaN
6205            0.0

[5 rows x 31 columns]